# Copy to .env.local
# Neon Pooled Connection (for Next.js runtime & serverless endpoints)
DATABASE_URL=postgresql://user:password@ep-xxxx-pooler.us-west-2.aws.neon.tech/neondb?sslmode=require

# Neon Direct Connection (for drizzle-kit migrations & schema pushes)
DIRECT_URL=postgresql://user:password@ep-xxxx.us-west-2.aws.neon.tech/neondb?sslmode=require
